Source: ros-melodic-fetch-ros
Section: misc
Priority: extra
Maintainer: Alex Moriarty <amoriarty@fetchrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: https://docs.fetchrobotics.com/
Standards-Version: 3.9.2

Package: ros-melodic-fetch-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-fetch-calibration, ros-melodic-fetch-depth-layer, ros-melodic-fetch-description, ros-melodic-fetch-ikfast-plugin, ros-melodic-fetch-maps, ros-melodic-fetch-moveit-config, ros-melodic-fetch-navigation, ros-melodic-fetch-teleop
Description: Fetch ROS, packages for working with Fetch and Freight
